@charset "ISO-8859-1";

input{
  width: 100%;
  height: 40px;
  display: inline-block;
  border: 1px solid Gainsboro;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #00573F;
  color: white;
  height: 40px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: green;
}
body, html {
  height: 100%;
}

div	{	justify-content:center;
		display:flex;
		margin: auto;
		position: absolute;
		top: 40%;
		left: 30%;
		right: 30%;
		bottom: 30%;	}

body
{
	background-image: url("picture1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}


label{text-align: right;}

.distance{	padding-top: 20px;	}

td{width: 400px;
}

label{	color:black;
font-size: 30px;
font-weight: bold;	}



