@charset "ISO-8859-1";
a{text-decoration: none; color: white;}

.flex-container {
  display: flex;
  background-color: teal;
}

.flex-container > h2 {
  margin: 25px;
  padding-left: 35px;
}

html,form,body{width:100%;
margin: -1px -1px -1px 0px;}
